{% extends('base.html.twig') %}

{% block title %} Accueil {% endblock %}

{% block body %}

<h1>Bienvenu sur ce magnifique TP</h1>

<h3>Voyons jusqu'où nous pouvons aller aujourd'hui</h3>
<span><strong>Si vous voyez ceci, c'est que j'ai pu afficher une page d'accueil.</strong></span><br>
<br>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, nulla at alias minus voluptatibus blanditiis, dolorum odit laborum eius molestiae, quos reiciendis. Dolores facilis ratione sunt vitae iusto esse cumque!<br>
<br>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore aliquam aut dicta et illum consequatur qui delectus officia nihil. Recusandae adipisci eius quisquam blanditiis molestiae labore nihil illum accusantium ipsam?<br>
<br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore labore quibusdam, iure esse aliquam quaerat cumque enim? Ad facilis, adipisci praesentium veritatis quisquam nemo, cum ullam velit sunt magnam possimus?
Suscipit, ipsum illum delectus esse doloribus ab molestiae voluptatem corporis facilis harum dicta porro ipsa. Neque aliquid deserunt libero beatae corrupti obcaecati adipisci natus repellat, alias voluptates dolores quasi? Perspiciatis.
Molestiae, perspiciatis commodi suscipit aspernatur doloremque maxime incidunt aliquid modi nobis sint sapiente ex culpa esse blanditiis fugiat eos itaque tempore, excepturi minima, vitae optio ipsum rerum similique. Eum, labore.<br>
<br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptates cumque facilis obcaecati esse ipsum voluptas magni sunt, culpa explicabo eligendi a deserunt facere vitae voluptate quasi fugit perspiciatis excepturi?
Cumque corrupti provident accusamus! Culpa sunt obcaecati quos dicta amet sapiente perferendis aliquid neque deserunt facilis aut, vel itaque repellendus possimus commodi aperiam, quibusdam quis fugit! Nam excepturi tenetur beatae.
Esse distinctio quo placeat hic aspernatur reiciendis quia, eius praesentium rerum error facere libero nobis quis vel eaque accusamus tempora voluptates? Inventore quo atque ipsum illum, animi eveniet architecto mollitia.
Tempora, distinctio hic quia veritatis impedit voluptates dolorum provident atque quae at expedita ratione temporibus illum mollitia magnam iste qui! Quaerat similique nobis reiciendis odit culpa provident explicabo officiis vel.
Ratione fugiat repellendus repudiandae alias velit reprehenderit tenetur temporibus incidunt iure voluptate provident nulla voluptas placeat necessitatibus laudantium hic, maxime modi enim quas sapiente esse ipsam at aliquam! Excepturi, cum.
{% endblock %}